@import "~appointment-picker/dist/appointment-picker.css";

.bookAppointmentForm-inner {
  display: flex;
  flex-direction: column;
}
mat-form-field {
  width: 30%;
  margin: 0 10px;
}
button {
  width: 20%;
  margin: auto;
}
.description mat-form-field {
  width: 95%;
}
.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: tomato;
  color: azure;
  font-size: 18px;
}

.cross {
  color: azure;
  margin: 0 20px;
  cursor: pointer;
}
