<div class="header-container">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li>
      <div class="dropdown">
        <button class="dropbtn">Doctors</button>
        <div class="dropdown-content">
          <a *ngIf="adminIsAuthenticated" routerLink="/create-doctors"
            >Create Doctors</a
          >
          <a routerLink="/list-doctors">List Doctor</a>
        </div>
      </div>
    </li>
    <li *ngIf="adminIsAuthenticated">
      <div class="dropdown">
        <button class="dropbtn">Patients</button>
        <div class="dropdown-content">
          <a routerLink="/create-patients">Create Patients</a>
          <a routerLink="/list-patients">List Patients</a>
        </div>
      </div>
    </li>
    <li class="appointment">
      <a routerLink="/book-appointments">Appointment</a>
    </li>
    <li class="authentication-container">
      <div class="dropdown">
        <button class="dropbtn">
          <span *ngIf="!role">Admin/Doc-Auth</span> <br />
          <span *ngIf="role">As-{{ role }}</span>
        </button>

        <div class="dropdown-content">
          <a
            *ngIf="!adminIsAuthenticated && !doctorIsAuthenticated"
            routerLink="/login"
            >Login</a
          >
          <a routerLink="permission-for-admin-or-doctor/signup">Signup</a>
          <a
            *ngIf="adminIsAuthenticated || doctorIsAuthenticated"
            (click)="onLogout()"
            >Logout</a
          >
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <button class="dropbtn">Patients</button>
        <div class="dropdown-content">
          <a *ngIf="!patientIsAuthenticated" routerLink="/patient-login"
            >Log in</a
          >
          <a *ngIf="patientIsAuthenticated" routerLink="/patient-details"
            >My-details</a
          >
          <a routerLink="/patient-signup">Signup</a>
          <a *ngIf="patientIsAuthenticated" (click)="onPatientLogout()"
            >Logout</a
          >
        </div>
      </div>
    </li>

    <!-- <li class="authentication-container">
      <div *ngIf="!userIsAuthenticated">
        <a routerLink="/login">Admin-Login</a>
      </div>
      <div *ngIf="!userIsAuthenticated">
        <a routerLink="/signup">Admin-Signup</a>
      </div>
      <div *ngIf="userIsAuthenticated" (click)="onLogout()">
        <a>Logout</a>
      </div>
    </li> -->
  </ul>
</div>
