.createDoctorsForm-inner {
  display: flex;
  flex-direction: column;
}

button {
  width: 20%;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

.image-preview {
  height: 8rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.email-experience-phone {
  display: flex;
  justify-content: space-between;
}
.email-experience-phone mat-form-field {
  width: 30%;
}
.address-languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specialist-degree {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specialist-degree mat-form-field {
  width: 30%;
}
