<mat-accordion multi="true" *ngIf="patients.length > 0">
  <mat-expansion-panel *ngFor="let patient of patients">
    <mat-expansion-panel-header>
      <mat-panel-title class="doctor-speciality">
        {{ patient.name }}
      </mat-panel-title>
      <mat-panel-description>{{ patient.category }}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="under-line"></div>
    <p class="doctor-name">{{ patient.phone }}</p>
    <p class="doctor-email">{{ patient.email }}</p>
    <p class="doctor-email">{{ patient.profession }}</p>
    <p class="doctor-email">{{ patient.date }}</p>
    <p class="doctor-email">{{ patient.time }}</p>
    <p class="doctor-email">{{ patient.description }}</p>
    <p class="doctor-email" *ngIf="patient.docName">
      Assigned Doc :=> {{ patient.docName }}
    </p>

    <mat-form-field appearance="fill" *ngIf="ReceptionistIsAuthenticated">
      <mat-label>Assign Doctor</mat-label>
      <mat-select
        name="AssignedDoctor"
        ngModel
        (selectionChange)="onDoctorAssignSelector($event)"
      >
        <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
          <strong>{{ doctor.name }}</strong> - {{ doctor.speciality }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-action-row>
      <a
        *ngIf="AdminIsAuthenticated || PatientIsAuthenticated"
        mat-button
        [routerLink]="['/edit-patients', patient._id]"
        color="primary"
        >Edit</a
      >
      <button
        *ngIf="AdminIsAuthenticated || PatientIsAuthenticated"
        mat-button
        color="warn"
        (click)="onDeletePatient(patient._id)"
      >
        Delete
      </button>
      <button
        *ngIf="ReceptionistIsAuthenticated"
        mat-button
        color="primary"
        (click)="onAssignDoctor(patient._id)"
      >
        Assign Doctor
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalPatients"
  pageSize="patientsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="patients.length > 0"
></mat-paginator>
