<mat-spinner *ngIf="loading"></mat-spinner>
<div class="doctors-container" *ngIf="doctors.length > 0 && !loading">
  <div class="doctor" *ngFor="let doctor of doctors">
    <div class="doctor-speciality">
      <span>{{ doctor.speciality }}</span>

      <div
        class="dropdown"
        *ngIf="
          (adminIsAuthenticated && userId === doctor.creator) ||
          (doctorIsAuthenticated && doctor.email === doctorEmail) ||
          receptionistIsAuthenticated
        "
      >
        <i class="fas fa-chevron-down dropbtn"></i>
        <div class="dropdown-content">
          <button mat-button (click)="onOpenDialog(doctor.assignedPatients)">
            My Patients
          </button>

          <a
            mat-button
            class="Edit"
            [routerLink]="['/edit-doctors', doctor.id]"
            *ngIf="
              (adminIsAuthenticated && userId === doctor.creator) ||
              (doctorIsAuthenticated && doctor.email === doctorEmail)
            "
            >Edit</a
          >
          <button
            mat-button
            class="Delete"
            (click)="onDeletedoctor(doctor.id)"
            *ngIf="
              (adminIsAuthenticated && userId === doctor.creator) ||
              (doctorIsAuthenticated && doctor.email === doctorEmail)
            "
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="under-line"></div>
    <p class="doctor-name" (click)="doctorDetails(doctor)">{{ doctor.name }}</p>
    <div class="doctor-image">
      <img [src]="doctor.imagePath" [alt]="doctor.title" />
    </div>
    <p class="doctor-email">{{ doctor.email }}</p>
  </div>
</div>
<mat-paginator
  [length]="totalDoctors"
  pageSize="5"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="doctors.length > 0"
></mat-paginator>
<p *ngIf="doctors.length <= 0 && !loading">No doctors available</p>
