<mat-spinner *ngIf="loading"></mat-spinner>
<mat-accordion multi="true" *ngIf="doctors.length > 0 && !loading">
  <mat-expansion-panel *ngFor="let doctor of doctors">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ doctor.name }} </mat-panel-title>
      <mat-panel-description>
        {{ doctor.speciality }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ doctor.email }}</p>
    <div class="doctor-image">
      <img [src]="doctor.imagePath" [alt]="doctor.title" />
    </div>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button [routerLink]="['/edit-doctors', doctor.id]" color="primary"
        >Edit</a
      >
      <button mat-button color="warn" (click)="onDeletedoctor(doctor.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalDoctors"
  pageSize="doctorsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="doctors.length > 0"
></mat-paginator>
<p *ngIf="doctors.length <= 0 && !loading">No doctors available</p>
