<mat-spinner *ngIf="loading"></mat-spinner>
<mat-accordion multi="true" *ngIf="doctors.length > 0 && !loading">
  <mat-expansion-panel *ngFor="let doctor of doctors">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ doctor.name }} </mat-panel-title>
      <mat-panel-description>
        {{ doctor.speciality }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ doctor.email }}</p>
    <mat-action-row>
      <a mat-button [routerLink]="['/edit-doctors', doctor.id]" color="primary"
        >Edit</a
      >
      <button mat-button color="warn" (click)="onDeletedoctor(doctor.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="doctors.length <= 0 && !loading">No doctors available</p>
