<mat-accordion multi="true" *ngIf="patient">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="doctor-speciality">
        {{ patient.name }}
      </mat-panel-title>
      <mat-panel-description
        ><span>{{ patient.category }}</span
        ><span class="patient-dateTime"
          >{{ patient.date }}-{{ patient.time }}</span
        ></mat-panel-description
      >
    </mat-expansion-panel-header>
    <div class="under-line"></div>
    <span class="personal-details"
      ><p class="patient-phone"><span>Phone: </span>{{ patient.phone }}</p>
      <p class="patient-email"><span>Email: </span>{{ patient.email }}</p>
      <p class="patient-profession">
        <span>Profession: </span>{{ patient.profession }}
      </p></span
    >
    <span class="doc-related-details">
      <p class="patient-description">
        <span>Description: </span>{{ patient.description }}
      </p>
      <p class="assignedDoc">
        <span> Assigned Doc :</span>
        DR. {{ assignedDoctorDetails?.name }}
      </p>
    </span>

    <mat-action-row>
      <a
        mat-button
        [routerLink]="['/edit-patients', patient._id]"
        color="primary"
        >Edit</a
      >
      <button mat-button color="warn" (click)="onDeletePatient(patient._id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
