<mat-card>
  <form (ngSubmit)="onPatientLogin(form)" #form="ngForm">
    <p class="wrong-crediantilas" *ngIf="responseStatus == '401'">
      *wrong username or password entered
    </p>
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        id="email"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        password
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password</mat-error
      >
    </mat-form-field>
    <p class="signup-suggestion">
      If you are not already registered, Please
      <span routerLink="/patient-signup">Signup</span> first
    </p>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
