mat-form-field {
  width: 100%;
}
.signup-suggestion {
  font-size: 12px;
  color: rgb(0, 171, 159);
}
.signup-suggestion span {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
